$width--b: 54rem;

@import "_config/*";
@import "_util/*";
@import "base/*";

@mixin a-wrap {
  max-width: $width--b;

  margin-left: auto;
  margin-right: auto;

  @include reset-children;
}

@import "parts/*";
@import "vendor/*";

.longform {
  li:not(:first-child) {
    margin-top: 1em;
  }
}
