.gallery {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  max-width: 70em;

  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  margin: 1em;
}

.gallery__image {
  max-height: 12em;
}
