block template-variables
  - var page = {title: "Karolína Christo", description: "Karolína Christo je projekt, který se zrodil v hlavě zkušené zlínské advokátky, která si po dvaceti letech v advokacii uvědomila, že její štěstí neleží jen v paragrafech a soudních místnostech."}

doctype
html.no-js(lang="cs")
  head
    block template-head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title!= page.title
      meta(name="description", content=page.description)
      meta(name="viewport", content="width=1024, minimal-ui")
      meta(name="format-detection", content="telephone=no")

      link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway:500,500i,600&subset=latin-ext" rel="stylesheet")

      <!-- build:css assets/css/style-min.css -->
      <!-- site:css -->
      <!-- endinject -->
      <!-- endbuild -->

  body
    include ../_mixins/_header

    block template-body
      p Basic template.

    block template-foot
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")

      <!-- build:js assets/js/site-min.js -->
      <!-- site:js -->
      <!-- endinject -->
      <!-- endbuild -->
