$c-primary--500: #FFF4BA;
$c-primary--300: #D1A700;

$c-link:         black;
$c-visited:      $c-link;
$c-hover:        #444;
$c-active:       $c-hover;

$c-select__bg:   black;
$c-select__text: white;
