$font__sans: 'Raleway', sans-serif;
$font__sans--medium: 500;
$font__sans--semi:   600;

$font__headline: 'Montserrat', 'Raleway', sans-serif;
$font__headline--regular: 400;
$font__headline--medium:  500;
