extends _templates/_site

block template-body
  +header("blog")

  main.content
    .content__wrap
      .detail
        h1.detail__title.title--d Zrody
        .detail__intro
          img.detail__hero(src="/assets/images/blog/blog_1.jpg" alt="Blog Post Image")
        .detail__text
          p Na světě každý rok vznikají stovky, tisíce a&nbsp;snad i&nbsp;miliony projektů. Ať už pouze v&nbsp;lidských hlavách nebo na papíře. Jen málo z&nbsp;nich se ale opravdu promění v&nbsp;realitu. Jejich zhmotnění se často přirovnává k&nbsp;narození. Vše počne v&nbsp;naší hlavě a&nbsp;před tím, než se nám podaří toto pomyslné dítě ukázat světu, předchází tomu (v tomto případě) i&nbsp;několik měsíců těžké práce. Zatajujeme dech a&nbsp;doufáme, že výsledek předčí naše očekávání a&nbsp;my nakonec sklidíme celou řádku gratulací.
          p Tím bychom ale předbíhali. Máme nápad a&nbsp;teď nás čekají měsíce dřiny, takže na výsledek si budeme muset ještě nějakou dobu počkat. Přestože v&nbsp;životě jsou ke vzniku dítěte většinou zapotřebí dvě osoby a&nbsp;k jeho formování osob ještě více, matkou může být pouze jediná.
          figure
            img(src="/assets/images/blog/blog_2.jpg" alt="Blog Post Image")
          figure
            img(src="/assets/images/blog/blog_3.jpg" alt="Blog Post Image")
          p Všichni máme v&nbsp;životě spoustu přání a&nbsp;met, kterých se snažíme dosáhnout, ale jejich společným cílem je jediná věc. Pocítit štěstí a&nbsp;dělat v&nbsp;životě něco, co nás naplňuje. Možná hledáme celý život, a&nbsp;když to najdeme, měli bychom se toho urputně držet a&nbsp;nepustit to. Pokud máte někdy pocit, že už je všechno marné, a&nbsp;že váš život už byl nalajnován, nezoufejte. Ukážu vám teď, že jsme jen tak staří, jak se cítíme a&nbsp;náš život můžeme měřit pouze tím, co za něj vykonáme. Neznám lepšího příkladu, který ukazuje touhu zatnout zuby a&nbsp;nepustit.
          p Broňa Orbesová je zkušená zlínská advokátka, která si po dvaceti letech v&nbsp;advokacii uvědomila, že její štěstí neleží jen v&nbsp;paragrafech a&nbsp;soudních místnostech. A&nbsp;i když právě tomuto oboru vděčí za celou řadu zkušeností, jejich význam se ztrácí, pokud se o&nbsp;ně nemůže podělit. A&nbsp;protože celý svůj život naplnila láskou k&nbsp;umění a&nbsp;velmi ráda se obklopuje lidmi, rozhodla se tyto dvě věci spojit. Našla inspiraci v&nbsp;okolí, ve Zlínském regionu a&nbsp;ve svém vlastním životě. A&nbsp;tak se zrodila myšlenka Karolína Christo. Projekt, který má nejen propojovat umění, ale i&nbsp;lidi.
          p Zlínský region je proslulý módou, baťovskou tradicí, uměním a&nbsp;to nejen tím filmovým. A&nbsp;proto není divu, že když Broňa hledala „parťáka“, zvolila si takového, se kterým sdílí společný cíl: otevírat dveře mladým talentům a&nbsp;poskytovat jim příležitosti. Univerzita Tomáše Bati je bezpochyby dominantou Zlína a&nbsp;pomáhá rozvíjet celý region. Její Fakulta multimediálních komunikací se prostřednictvím svých studentů podílí i&nbsp;na formování české a&nbsp;zahraniční umělecké scény.
          p Už víme, co vše působí na zrození Karolíny Christo, ale jsou to především studenti, kteří pomáhají formovat její tvář, kterou budeme poprvé moci spatřit 1.&nbsp;4. 2017 v 18 hodin na zámku v&nbsp;Holešově. Událost, se symbolickým jménem ZRODY, která odstartuje spolupráci Karolíny a&nbsp;studentů, je předzvěstí prostoru, který jim umožní nejen vystavovat své práce, ale i&nbsp;sbírat zkušenosti jejich výměnou s&nbsp;experty a&nbsp;již zkušenějšími lidmi.
          p Pokud i&nbsp;vy chcete podpořit mladé umělce, není nic jednoduššího, než přijet na zámek v&nbsp;Holešově, užít si večer a&nbsp;načerpat spoustu pozitivní energie. Pak i&nbsp;vy budete třeba moci jednou říct, že jste stáli u&nbsp;zrodu Karolíny Christo a&nbsp;kdo ví, třeba i&nbsp;nové Coco Chanel. Nechejte se překvapit!
          figure
            img(src="/assets/images/poster-exhibition.jpg" alt="Poster")

      .pagination
        a.pagination__link--back(href="blog.html") &larr; Zpátky

  include _mixins/_footer
