extends _templates/_site

block template-body
  +header("index")

  main.content.longform
    .content__wrap
      .about
        img.about__portrait(src="/assets/images/portrait-new.jpg", alt="Portrét Karolíny Christo")
        .about__text
          p Jsem advokátka a&nbsp;mediátorka. Působím také v&nbsp;oblasti kreativity pod jménem Karolína Christo.
          p Vystudovala jsem Gymnázium na Lesní čtvrti ve Zlíně. Po té jsem vystudovala Právnickou fakultu UJEP v&nbsp;Brně a&nbsp;následně jsem složila rigorozní zkoušku. Od roku 1991 působím v&nbsp;advokacii. Specializuji se především na korporátní a&nbsp;obchodní právo, investiční výstavbu, insolvenční, právo občanské a&nbsp;rodinné. Věnovala jsem se řadě významných projektů. Moje praxe a&nbsp;úspěšně vykonaná zkouška registrované mediátorky mne propojila s dalším oborem – psychologií.
          p Ve volném čase se věnuji kreativní tvorbě, především malování portrétů a&nbsp;figur akrylem, olejem nebo kombinovanou technikou. Proto jsem se stala členkou Zlínského kreativního klastru a&nbsp;snažím se propojovat kreativní tvorbu s praxí, podporovat studenty UTB Zlín, FMK se záměrem, aby měli možnost konkurenceschopného uplatnění ve zlínském regionu.
          p Bronislava Orbesová—Karolína Christo

    .divider
      .divider__wrap
        h1.divider__title.title--a O&nbsp;projektu
    .content__wrap
      p Karolína Christo je projekt, který se zrodil v&nbsp;hlavě zkušené zlínské advokátky, která si po dvaceti letech v&nbsp;advokacii uvědomila, že její štěstí neleží jen v&nbsp;paragrafech a&nbsp;soudních místnostech. Protože celý svůj život také naplňovala láskou k umění a&nbsp;velmi ráda se obklopuje lidmi, rozhodla se tyto dvě věci spojit. Projekt tedy propojuje nejen umění, ale i&nbsp;lidi. Zakládá se na tradicích Zlínského regionu a&nbsp;jeho podobu utvářejí studenti Fakulty multimediálních komunikací Univerzity Tomáše Bati.
      p 1.&nbsp;4. 2017 v&nbsp;18 hodin se uskuteční na zámku v&nbsp;Holešově událost se symbolickým názvem ZRODY, která zahájí spolupráci studentů a&nbsp;Karolíny Christo.

    .divider
      .divider__wrap
        h1.divider__title.title--a Poradenství
    .content__wrap
      h2.title--b Kdy se na nás můžete obrátit
      ul
        li Potřebujete poradit jak začít s podnikáním s nevíte čím začít, nevíte se rady se zorganizováním všech potřebných kroků, formalit, právních otázek, jednáním s úřady, potřebujete načerpat inspiraci pro dobrý začátek, atp.
        li Potřebujete poradit jak dál v&nbsp;podnikání nebo profesním životě, zdá se Vám, že se Vaše firma nerozvíjí dynamicky nebo Vám připadá, že si nerozumíte se zaměstnanci, partnery apod.? nebo že selhávají způsoby řízení anebo kontroly ve Vaší společnosti?
        li Potřebujete poradit jak dál ve Vašem životě, když jste vyhořeli, zrovna se rozvádíte nebo se od Vás stěhují děti nebo se zkrátka sehrálo více věcí najednou a&nbsp;překonat důsledky není jednoduché. V&nbsp;tomto procesu můžeme být nejen vašimi poradci, ale také průvodci než získáte tak potřebný pocit sebejistoty
        li Potřebujete poradit jak přijmout a&nbsp;poradit si se změnami ve Vašem životě, ať již je naplánujete nebo přicházejí „samy od sebe“?
        li Potřebujete přesvědčit o&nbsp;svém záměru druhé, naučte se přesvědčit především sebe sama…
        li Potřebujete se zjednodušit život, soustředit se na priority, získat tak potřebnou sebedůvěru pro zvládnutí jakékoliv životní nebo pracovní situace a&nbsp;myslíte si, že to nejde?
        li Potřebujete ztratit ostych nebo trému a&nbsp;naučit se mluvit na veřejnosti?
        li Potřebujete umět prodat Váš produkt?
        li Potřebujete nalézt momentální smysl Vašeho života?
      p S těmito a&nbsp;jinými otázkami Vám pomohu spolu se svým týmem odborníků. Naší výhodou je, že pracujeme v&nbsp;sehraném týmu profesionálů, a&nbsp;tudíž se o&nbsp;klíčových otázkách radíme a&nbsp;navrhujeme Vám komplexní řešení a&nbsp;pomoc.

  include _mixins/_footer
